<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">


<head>
<title>Cidade</title>
</head>
	<section layout:fragment="conteudo">
		<div class="row">
			<div class="col s12 m4 l3">
				<ul>
					<li class="tab"><a
						class="btn-floating btn-small waves-effect waves-light blue"
						href="cidade/novo"><i class="material-icons">add</i></a></li>
				</ul>
			</div>
			<div class="col s12 m8 l9">
				<div class="collection">
					<a class="collection-item"
						th:href="${cfg} + ${cidadeUrls.listarTodas}">Listar Todas</a>
				</div>
			</div>
		</div>
		<div class="row">
			<a href="cidade/capitais" class="waves-effect waves-light btn-small">Listar Capitais</a>
		</div>
	</section>
</html>