<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
	
<head>
<title>Lista de Capitais</title>
<meta charset="UTF-8">
</head>
    <section layout:fragment="conteudo">        
        <table class="responsive-table highlight">
            <thead th:if="${!#lists.isEmpty(cidadesCapitais)}">
                <tr>
                    <th data-field="id">#</th>
                    <th data-field="ibge_id">Codigo IBGE</th>
                    <th data-field="name">Nome</th>
                    <th data-field="capital">Capital</th>
                    <th data-field="lon">Longitude</th>
                    <th data-field="lat">Latitude</th>
                    <th data-field="uf">UF</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cidades : ${cidadesCapitais}">
                    <td th:text="${cidades.id}"></td>
                    <td th:text="${cidades.ibge_id}"></td>
                    <td th:text="${cidades.name}"></td>
                    <td th:text="${cidades.capital}"></td>
                    <td th:text="${cidades.lon}"></td>
                    <td th:text="${cidades.lat}"></td>
                    <td th:text="${cidades.uf}"></td>
                </tr>
                <tr>
                    <td th:if="${#lists.isEmpty(cidadesCapitais)}">Lista está vazia</td>
                </tr>                
            </tbody>
        </table>
    </section>
</html>