<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
<!-- 	<link th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet" /> -->
	<link th:href="@{/webjars/materializecss/1.0.0-rc.1/css/materialize.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/material-design-icons/3.0.1/material-icons.css}" rel="stylesheet" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	
	<script type="text/javascript"	th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<!-- 	<script type="text/javascript"	th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script> -->
	<script type="text/javascript"	th:src="@{/webjars/materializecss/1.0.0-rc.1/js/materialize.min.js}"></script>
<!-- 	<script type="text/javascript"	th:src="@{/webjars/popper.js/1.14.1/popper.min.js}"></script> -->
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	

	<title>Xpto</title>
</head>
<body>
	<header data-layout-insert="~{Cabecalho}"></header>
	<main>
		<section layout:fragment="conteudo">
			<p>Principal</p>
		</section>
	</main>
	<footer class="page-footer" data-layout-insert="~{Rodape}"></footer>
</body>
</html>